<div class="container">
<h1><%= t :Cate %></h1>
<% @categories.each do |cate| %>
  <h3><%= link_to cate.name, category_path(id: cate.id)%></h3>
<% end %>
<% @products.each do |product| %>
  <p><%= link_to product.name, "#"%></p>
<% end %>
</div>
