<div class="container">
  <% @categories.each do |cate| %>
    <h3><%= link_to cate.name, category_path(cate.id) %></h3>
    <% cate.products.each do |prod| %>
      <p><%= link_to prod.name, "#" %></p>
    <% end %>
  <% end %>
</div>
