<div class="container">
  <% @categories.each do |category| %>
    <h3><%= link_to cate.name, category_path(category.id) %></h3>
    <% category.products.each do |product| %>
      <p><%= link_to prod.name, category_product_path(
        category_id: product.category_id, id: product.id) %>
      </p>
    <% end %>
  <% end %>
</div>
