<nav class="navbar navbar-default navbar-fixed-top">
    <div class="collapse navbar-collapse header-div" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(:About), about_path, id: "word-li" %></li>
        <li><%= link_to t(:header_viewed), "#", id: "word-li" %>
          <i class="fa fa-eye fa-eye-size"></i></li>
        <li><%= link_to t(:header_cart), "#", id: "word-li" %>
          <i class="glyphicon glyphicon-shopping-cart"></i></li>
        <li><%= link_to t(:header_pay), "#", id: "word-li" %>
          <i class="fa fa-cc-paypal fa-pay-size"></i></li>
        <li><i class="glyphicon glyphicon-search"></i></li>
      </ul>
    </div>
  </div>
</nav>
